const credentials =
{
    clientId: 'your_client_id',
    clientSecret: 'your_client_secret',
    redirectUri: 'http://localhost:3000/callback' //Needs to match the redirect URI in the Spotify Developer Dashboard exactly
}
module.exports = credentials;