<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Filter</title>
    <link rel='stylesheet' href='/style.css' />
</head>
<body>
    <button class="defaultbutton" onclick="window.location.href = '/tools/tags'">Tags</button>
    Create and delete tags<br>
    <button class="defaultbutton" onclick="window.location.href = '/tools/playlists'">Playlists</button>
    View playlists and start tagging<br>
    <button class="defaultbutton" onclick="window.location.href = '/tools/filter'">Merge</button>
    Merge playlists by tags<br>
</body>
</html>